.add-nft {
  display: inline-block;
  background-color: aquamarine;
  padding: 3em;
  border-radius: 50%;
  line-height: 0;
  position: absolute;
  bottom: 2em;
  right: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
