// .container-add-nft {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }


.text-add {
  // visibility: hidden;
  opacity: 0;
  background-color: #8fd3f4;
  font-family: 'Jost', sans-serif;
  border-radius: 1em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  margin-bottom: 0.5em;
  transition: 0.1s ease-in-out;
}

.add-nft {
  display: flex;
  background-color: #8fd3f4;
  font-size: xx-large;
  padding: 1em;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: white;
  width: 92px;
  border-radius: 50%;
  height: 92px;
  transition: box-shadow .12s linear,min-width .15s cubic-bezier(0.4,0,0.2,1);
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
  }
}

.add-section .add-nft:hover + .text-add {
  // visibility: visible;
  opacity: 100%;
}

.add-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  position: sticky;
  bottom: 2em;
  margin-right: -3em;
  justify-self: end;
}

.buttons {
  display: flex;
  gap: 1em;
  height: fit-content;
  justify-content: center;
  margin: 0;
  a {
    text-decoration: none;
    color: white;
  }
}

.button {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-weight: bold;
}

.btn-edit {
  background-color: #416165;
  // border-bottom: #223537;
  // border-right: #223537;
    &:hover {
      // box-shadow: rgba(0, 0, 0, 0.56) 3px 4px 7px 0px;
      box-shadow: inset 3px 4px 5px #000000;
    }
}

.btn-delete {
  background-color: #de6b48;
  // border-bottom: #914730;
  // border-right: #914730;
    &:hover {
      // box-shadow: rgba(0, 0, 0, 0.56) 3px 4px 7px 0px;
      box-shadow: inset 3px 4px 5px #000000;
    }
}
