.add-nft {
  display: inline-block;
  background-color: #8fd3f4;
  font-size: xx-large;
  color: #f4f4f4;
  padding: 1em;
  border-radius: 50%;
  line-height: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 1em;
}

.add-section {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.text-add {
  visibility: hidden;
}

.buttons {
  display: flex;
  gap: 1em;
  height: fit-content;
  justify-content: center;
  margin: 0;
  a {
    text-decoration: none;
    color: white;
  }
}

.button {
  display: flex;
  justify-content: center;
  gap: 2em;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-weight: bold;
}

.btn-edit {
  background-color: #416165;
}

.btn-delete {
  background-color: #de6b48;
}
