.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nft {
  width: 100%;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.row {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
}

.title {
  display: inline;
  padding-left: 2em;
  margin-bottom: 0.5em;
  font-family: 'Jost', sans-serif;
}

.image {
  width: 100%;
  padding: 0;
  object-fit: cover;
}

.image > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.details {
  padding: 2em;
  flex-grow: 1;
  position: relative;
}

.description {
  margin-bottom: 1.5em;
  font-weight: 400;
}

.price {
  background-color: #4edbae;
  position: absolute;
  color: white;
  bottom: 1em;
  right: 1em;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-weight: bold;
}
