.footer {
  display: flex;
  margin-top: 3em;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.footer {
  height: 15vh;
}

.footer-content span {
  background-color: rgb(165, 165, 165);
  color: #f2f1f1;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.filler {
  margin-top: auto;
  min-height: 55px;
}
