.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Jost', sans-serif !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dashboard {
  font-size: 1.5em;
  font-weight: bold !important;
}

.separator {
  width: 0.5px;
  height: 80px;
  border: 1px solid grey;
  border-radius: 1px;
  margin-right: 1em;
}

.navbar input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.navbar label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
  margin-right: 2em;
}

.navbar label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 22.5px;
	transition: 0.3s;
}

.navbar input:checked + label {
	background: #bada55;
}

.navbar input:checked + label:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

.navbar label:active:after {
	width: 32.5px;
}

.navbar li {
  display: flex;
  align-items: center;
}
