.container-new {
  display: flex;
  justify-content: center;
}

.items-new {
  background-color: #ffffff;
  display: flex;
  width: 30em;
  height: fit-content;
  flex-direction: column;
  justify-self: center;
  border-radius: 15px;
  padding: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}

form .btn {
  background-color: #95ae9e;
  color: white;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-weight: bold;
  &:hover {
    background-color: #95ae9e;
    color: white;
    box-shadow: 3px 4px 5px #000000;
  }
}

.items-new > p {
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}
