.container-resa {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.items-resa {
  background-color: #ffffff;
  display: flex;
  width: 30em;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  padding: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
    a {
      text-decoration: none;
      color: black;
      font-weight: light;
    }
}

#resa {
  background-color: #8fd3f4;
  font-family: 'Jost', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  border: none;
  &:hover {
    box-shadow: inset 3px 4px 5px #000000;
  }
}

// #resa:hover {
//   background-color: rgb(112, 231, 191);
//   border-radius: 1em;
//   padding-left: 1em;
//   padding-right: 1em;
// }

.input-dates {
  display: flex;
  // justify-content: space-between;
}
