.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column-right {
  display: flex;
  flex-direction: column;
  padding-left: 4em;
}

.column-left {
  height: fit-content;
}

// .show-price {
//   background-color: #95ae9e;
//   font-family: 'Jost', sans-serif;
//   color: white;
//   font-weight: bolder;
//   font-size: 1.4em;
//   text-align: center;
//   width: 100%;
//   padding-top: 1em;
//   padding-bottom: 1em;
//   padding-left: 1em;
//   padding-right: 1em;
//   border-radius: 1em;
//   font-weight: bold;
//   margin-top: 2em;
//   margin-bottom: 2em;
// }


.show-price {
  background-color: #95ae9e;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  font-weight: bold;
}

.full-description {
  height: fit-content
}

.item-name > strong {
  font-size: 1.4em;
}

.mb-3 > input {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.transaction_begin_date {
  margin-right: 1em;
}

.booking .mb-3 > input {
  width: 8em;
}

.mb-3 > textarea {
  background-color: white;
  border-radius: 15px;
}

.items-show > .title {
  padding: 0;
}

.items-show {
  background-color: #f4f4f4;
  font-family: 'Jost', sans-serif;
  border-bottom: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
  height: fit-content;
  display: flex;
  border-radius: 15px;
  padding: 2.5em;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
    a {
      text-decoration: none;
      color: black;
      font-weight: light;
    }
    h2 {
      font-weight: bold;
    }
}

.items-2col {
  width: 90vw;
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 2em;
  padding: 4em;
  margin-bottom: 4em;
  margin-top: 4em;
}

.show-image {
  width: 46em;
  .show-image-tag {
    border-radius: 2em;
    border-bottom: 2px solid #9a9a9a;
    border-right: 2px solid #9a9a9a;
    width: 100%;
    }
}

.show-details {
  background-color: #f4f4f4;
  border-bottom: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
  font-family: 'Jost', sans-serif;
  height: fit-content;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  margin: 0;
  margin-bottom: 3em;
  padding: 1.9em;
  padding-bottom: 3.2em;
  position: relative;
}

#new-transaction {
  display: flex;
  justify-content: space-between;
}
