.items {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  border-radius: 15px;
  padding: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
    a {
      text-decoration: none;
      color: black;
      font-weight: light;
    }
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
      &:hover {
        background-size: 100% 88%;
      }
}

.row-dash {
  display: flex;
}

.transaction {
  padding: 0;
  width: 250px;
  border: 2px solid #ffe8bd;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  // background: #ffebc6;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.action-btns {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
    .fa-check {
      color: rgb(66, 255, 66);
    }
    .fa-xmark {
      color: rgb(255, 100, 100);
    }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.items-transactions {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  padding: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.left-column {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-radius: 15px;
  padding: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  margin-top: 2em;
  width: 100%;
  height: 200px;
}

.transactions {
  display: flex;
  flex-wrap: wrap;
}

.container-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}
